<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/public/eos-logo-160x90.png" />
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <div class="sidebar-about">
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">The most recent release is:<br/><a href="http://dx.doi.org/{{ site.doi }}"><img src="https://zenodo.org/badge/doi/{{ site.doi }}.svg" /></a></li>
      <li class="sidebar-nav-item" style="margin-bottom: -15px">
          <a href="https://github.com"><img src="images/github-logo.png" width="30%"/></a>
      </li>
      <ul>
          <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">Source</a></li>
          <li class="sidebar-nav-item"><a href="{{ site.github.repo }}/issues">Issue Tracker</a></li>
      </ul>
      <li class="sidebar-nav-item" style="margin-bottom: -15px">
          <a href="https://travis-ci.org"><img src="images/travisci-logo.png" width="35%"/></a>
      </li>
      <ul>
          <li class="sidebar-nav-item"><img src="{{ site.travisci.repo }}.svg?branch=master" /></li>
      </ul>
      <li class="sidebar-nav-item" style="margin-bottom: -15px">
          <a href="https://packagecloud.io"><img src="images/packagecloud-logo.png" width="55%"/></a>
      </li>
      <ul>
          <li class="sidebar-nav-item"><a href="https://packagecloud.io/app/eos/eos/search?dist=ubuntu%2Ftrusty">Ubuntu 14.04 (Trusty)</a></li>
          <li class="sidebar-nav-item"><a href="https://packagecloud.io/app/eos/eos/search?dist=ubuntu%2Fxenial">Ubuntu 16.04 (Xenial)</a></li>
      </ul>
    </ul>
    </div>
  </div>
</div>
